* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../font/OPENSANS-LIGHT.TTF");
}
@font-face {
  font-family: "OpenSansRegular";
  src: url("../font/OPENSANS-REGULAR.TTF");
}
body {
  font-family: "OpenSansRegular", sans-serif;
}

/* MISC */

.mainTitle {
  padding: 40px 0 0;
  font-family: "OpenSansLight" !important;
}
.mainTitle h2 {
  font-size: 40px;
  line-height: 32px;
}
.mainTitle h2 span {
  font-size: 20px;
  color: rgb(252, 176, 64);
}
.mainTitle .subtitle {
  font-family: "OpenSansRegular";
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.mainTitle p {
  font-family: "OpenSansRegular";
}

.underline {
  height: 4px;
  width: 100px;
  background-color: rgb(252, 176, 64);
  border: none;
  margin: 10px 0;
}
.divider {
  height: 1px;
  background-color: rgb(218, 218, 218);
  border: none;
  margin: 40px 0 40px;
}
.outlinebuttonwhite {
  background: none;
  border: 2px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  padding: 10px 25px;
  margin: 10px 0;
  outline: none;
  cursor: pointer;
}
.outlinebutton {
  background: none;
  border: 2px solid rgba(6, 21, 52, 1);
  color: rgba(6, 21, 52, 1);
  padding: 10px 25px;
  margin: 20px 0;
  outline: none;
  cursor: pointer;
}

.outlinebutton:hover {
  background-color: rgba(6, 21, 52, 1);
  color: white;
}
.expandbutton {
  width: 100%;
  padding: 25px 10px;
  font-family: "OpenSansRegular";
  font-weight: bold;
}
.pic-card {
  margin-top: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 25px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 25px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 25px -2px rgba(0, 0, 0, 0.15);
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.pic-card:hover {
  -webkit-box-shadow: 0px 4px 33px 16px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 4px 33px 16px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 4px 33px 16px rgba(0, 0, 0, 0.09);
}
.pic-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.norm-card {
  -webkit-box-shadow: 0px 3px 25px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 25px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 25px -2px rgba(0, 0, 0, 0.15);
  padding: 0;
  transition: all 0.15s ease-in;
  cursor: pointer;
  min-width: 210px;
  margin-bottom: 30px;
}
.norm-card:hover {
  -webkit-box-shadow: 0px 22px 17px 1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 22px 17px 1px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 22px 17px 1px rgba(0, 0, 0, 0.13);
}
.norm-card p:nth-of-type(2) {
  font-style: italic;
  font-size: 13px;
}
.cardCover {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.cardCoverNoHeight {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-content {
  padding: 15px 20px;
}

.section-title {
  color: rgb(6, 21, 52);
}

.section-subtitle {
  margin-bottom: 20px;
  font-size: 14px;
}

/* checkbox control */
.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #f1f1f1;
  border: 1px solid #dfdfdf;
}
.control-radio .control_indicator {
  border-radius: undefined;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #f1f1f1;
}

.control input:checked ~ .control_indicator {
  background: rgb(252, 176, 64);
}
/* .control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #0e6647d;
} */
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}
.control-radio .control_indicator {
  border-radius: 50%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #f3bc0f;
}
/* .control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #0e6647d;
} */
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-radio .control_indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #ffffff;
}
.control-radio input:disabled ~ .control_indicator:after {
  background: #7b7b7b;
}

/* Range selector */
input[type="range"] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: rgb(252, 176, 64);
  border-radius: 13px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #ffffff;
  border: 2px solid #ffffff;
  height: 24px;
  width: 24px;
  border-radius: 25px;
  background: rgb(252, 176, 64);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgb(252, 176, 64);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: rgb(252, 176, 64);
  border-radius: 13px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #ffffff;
  border: 2px solid #ffffff;
  height: 24px;
  width: 24px;
  border-radius: 25px;
  background: rgb(252, 176, 64);
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: rgb(252, 176, 64);
  border: 0px solid #000000;
  border-radius: 26px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: rgb(252, 176, 64);
  border: 0px solid #000000;
  border-radius: 26px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #ffffff;
  border: 2px solid #ffffff;
  height: 24px;
  width: 24px;
  border-radius: 25px;
  background: rgb(252, 176, 64);
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: rgb(252, 176, 64);
}
input[type="range"]:focus::-ms-fill-upper {
  background: rgb(252, 176, 64);
}
/* TOP NAVIGATION */

#topNav {
  height: 50px;
  background-color: rgb(238, 238, 238);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 100px;
}

#topNav ul,
#topNav li {
  display: inline;
}
#topNav a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}

#topNav input {
  height: 30px;
  width: 300px;
  margin-right: 40px;
  padding-left: 10px;
}

/* MAIN NAVIGATION */

#mainNav {
  height: 70px;
  background-color: rgb(6, 21, 52);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

#mainNav li {
  display: inline;
  margin-left: 20px;
}

#mainNav a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-family: "OpenSansLight";
}
#mainNav a:hover {
  color: rgb(252, 176, 64);
}
#mainNav .selected {
  color: rgb(252, 176, 64);
  border-bottom: 2px solid rgb(252, 176, 64);
}

/* HEADER IMAGE */

#headerBg {
  height: 65vh;
  background: linear-gradient(rgba(6, 21, 52, 0.95), rgba(6, 21, 52, 0.75)),
    url("../img/bg_header.jpg");
  background-size: cover;
  width: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "OpenSansLight";
}
#headerBg h1 {
  font-weight: 100;
  font-size: 50px;
  font-family: "OpenSansLight" !important;
  text-align: center;
  margin-bottom: 40px;
}
#headerBg h4 {
  font-weight: 100;
  font-family: "OpenSansLight" !important;
  text-align: center;
}

#headerBg #signup {
  font-weight: 100;
  font-family: "OpenSansLight" !important;
  background: none;
  background: linear-gradient(to right, rgb(252, 176, 64), rgb(245, 164, 101));
  border: none;
  padding: 12px 40px;
  color: white;
  outline: none;
  margin: 40px 0 70px;
  cursor: pointer;
}

#headerBg #caret {
  background: none;
  border: 1px solid white;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  color: white;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* CURATORS */

#curators {
  padding: 40px 0 0;
  font-family: "OpenSansLight" !important;
}
#curators h2 {
  font-size: 40px;
  line-height: 32px;
}
#curators h2 span {
  font-size: 20px;
  color: rgb(252, 176, 64);
}
#curators p {
  font-family: "OpenSansRegular";
}

#curators .row {
  justify-content: space-between;
}

/* POPULAR ARTISTS */

#popular-artists .bottomrow {
  margin-top: 30px;
}

/* PRICE RANGE */

#price-range #holder1 {
  height: 420px;
}

#price-range #holder2 {
  height: 220px;
}

#price-range .card-price {
  position: absolute;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#price-range .card-price-content {
  color: white;
}

/* WHY-SNOW */
#why-snow {
  padding: 40px 0;
  font-family: "OpenSansLight" !important;
}
#why-snow h2 {
  font-size: 40px;
  line-height: 32px;
}
#why-snow h2 span {
  font-size: 20px;
  color: rgb(252, 176, 64);
}
#why-snow p {
  font-family: "OpenSansRegular";
}
#why-snow img {
  width: 100%;
}

/* FOOTER */
footer {
  margin-top: 30px;
  color: gray;
  font-size: 15px;
}
footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  font-size: 13px;
  color: gray;
}
footer #logobottom {
  margin: 120px 0;
  text-align: center;
}
