* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../font/OPENSANS-LIGHT.ttf");
}
@font-face {
  font-family: "OpenSansRegular";
  src: url("../font/OPENSANS-REGULAR.ttf");
}
body {
  font-family: "OpenSansRegular", sans-serif;
}

/* MISC */

.underline {
  height: 4px;
  width: 100px;
  background-color: rgb(252, 176, 64);
  border: none;
  margin: 10px 0;
}
.divider {
  height: 1px;
  background-color: rgb(218, 218, 218);
  border: none;
  margin: 40px 0 40px;
}
.outlinebuttonwhite {
  background: none;
  border: 2px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  padding: 10px 25px;
  margin: 10px 0;
  outline: none;
  cursor: pointer;
}
.outlinebutton {
  background: none;
  border: 2px solid rgba(6, 21, 52, 1);
  color: rgba(6, 21, 52, 1);
  padding: 10px 25px;
  margin: 20px 0;
  outline: none;
  cursor: pointer;
}

.outlinebutton:hover {
  background-color: rgba(6, 21, 52, 1);
  color: white;
}
.expandbutton {
  width: 100%;
  padding: 25px 10px;
  font-family: "OpenSansRegular";
  font-weight: bold;
}
.pic-card {
  margin-top: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 25px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 25px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 25px -2px rgba(0, 0, 0, 0.15);
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.pic-card:hover {
  -webkit-box-shadow: 0px 4px 33px 16px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 4px 33px 16px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 4px 33px 16px rgba(0, 0, 0, 0.09);
}
.norm-card {
  -webkit-box-shadow: 0px 3px 25px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 25px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 25px -2px rgba(0, 0, 0, 0.15);
  padding: 0;
  transition: all 0.15s ease-in;
  cursor: pointer;
}
.cardCover {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.cardCoverNoHeight {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-content {
  padding: 15px 20px;
}

.section-title {
  color: rgb(6, 21, 52);
}

.section-subtitle {
  margin-bottom: 20px;
  font-size: 14px;
}

/* TOP NAVIGATION */

#topNav {
  height: 50px;
  background-color: rgb(238, 238, 238);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 100px;
}

#topNav ul,
#topNav li {
  display: inline;
}
#topNav a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}

#topNav input {
  height: 30px;
  width: 300px;
  margin-right: 40px;
  padding-left: 10px;
}

/* MAIN NAVIGATION */

#mainNav {
  height: 70px;
  background-color: rgb(6, 21, 52);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

#mainNav li {
  display: inline;
  margin-left: 20px;
}

#mainNav a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-family: "OpenSansLight";
}

/* HEADER IMAGE */

#headerBg {
  height: 65vh;
  background: linear-gradient(rgba(6, 21, 52, 0.95), rgba(6, 21, 52, 0.75)),
    url("../img/bg_header.jpg");
  background-size: cover;
  width: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "OpenSansLight";
}
#headerBg h1 {
  font-weight: 100;
  font-size: 50px;
  font-family: "OpenSansLight" !important;
  text-align: center;
  margin-bottom: 40px;
}
#headerBg h4 {
  font-weight: 100;
  font-family: "OpenSansLight" !important;
  text-align: center;
}

#headerBg #signup {
  font-weight: 100;
  font-family: "OpenSansLight" !important;
  background: none;
  background: linear-gradient(to right, rgb(252, 176, 64), rgb(245, 164, 101));
  border: none;
  padding: 12px 40px;
  color: white;
  outline: none;
  margin: 40px 0 70px;
  cursor: pointer;
}

#headerBg #caret {
  background: none;
  border: 1px solid white;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  color: white;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* CURATORS */

#curators {
  padding: 40px 0 0;
  font-family: "OpenSansLight" !important;
}
#curators h2 {
  font-size: 40px;
  line-height: 32px;
}
#curators h2 span {
  font-size: 20px;
  color: rgb(252, 176, 64);
}
#curators p {
  font-family: "OpenSansRegular";
}

#curators .row {
  justify-content: space-between;
}

/* POPULAR ARTISTS */

#popular-artists .bottomrow {
  margin-top: 30px;
}
#popular-artists .norm-card:hover {
  -webkit-box-shadow: 0px 22px 17px 1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 22px 17px 1px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 22px 17px 1px rgba(0, 0, 0, 0.13);
}

/* PRICE RANGE */

#price-range #holder1 {
  height: 420px;
}

#price-range #holder2 {
  height: 220px;
}

#price-range .card-price {
  position: absolute;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#price-range .card-price-content {
  color: white;
}

/* WHY-SNOW */
#why-snow {
  padding: 40px 0;
  font-family: "OpenSansLight" !important;
}
#why-snow h2 {
  font-size: 40px;
  line-height: 32px;
}
#why-snow h2 span {
  font-size: 20px;
  color: rgb(252, 176, 64);
}
#why-snow p {
  font-family: "OpenSansRegular";
}

/* FOOTER */
footer {
  margin-top: 30px;
  color: gray;
  font-size: 15px;
}
footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  font-size: 13px;
  color: gray;
}
footer #logobottom {
  margin: 120px 0;
  text-align: center;
}
